ion-header ion-toolbar ion-img::part(image) {
  height: 56px;
}
ion-footer ion-toolbar ion-img::part(image) {
  height: 56px;
}

ion-img.go-logo::part(image) {
  height: 100px;
  margin-bottom: 64px;
}

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
//   justify-content: center;
  gap: 32px;
  width: 100%;
  height: 100%;

  .login-input {
    max-width: 520px;
    box-shadow: #ffffff2c 0 2px 4px, #ffffff23 0 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }

    .user-field {
      --padding-end: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);

      input {
        padding: 8px 0;
      }
    }
    .password-field {
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }
  }

  ion-button {
    --box-shadow: none;
  }

  ion-button ion-img::part(image) {
    width: 100px;
  }
}

::ng-deep .user-field .native-wrapper.sc-ion-input-md {
  padding-top: 8px;
  padding-bottom: 8px;
}

::ng-deep input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::ng-deep input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
}
