<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-img src="./assets/logos/logo-bogdol-go.svg" class="ion-hide-lg-up"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" class="ion-align-items-center">
  <div class="login-screen">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <ion-img src="./assets/logos/logo-bogdol-go.svg" class="ion-hide-lg-down go-logo"></ion-img>
      <ion-card class="login-input" color="primary">
        <ion-card-header>
          <ion-card-subtitle>Anmeldung</ion-card-subtitle>
          <ion-card-title><h1>Herzlich Willkommen</h1></ion-card-title>
          <ion-card-subtitle>
            Benutzername und Passwort muss Ihnen Ihr Systemadministrator zur
            Verfügung stellen.
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="login-form ion-padding">
          <ion-item lines="none">
            <ion-input
              class="user-field"
              formControlName="email"
              required
              label="Benutzername"
              labelPlacement="stacked"
              clearInput="true"
              type="text"
            ></ion-input>
          </ion-item>
          @if (errorMessage) {
          <ion-item lines="none">
            <ion-text color="danger" class="ion-padding-top">
              <p>{{ errorMessage }}</p>
            </ion-text>
          </ion-item>
          }
        </ion-card-content>
        <ion-button type="submit" expand="block" [disabled]="resetForm.invalid"
          ><ion-img src="./assets/logos/logo-bogdol-go.svg"></ion-img
        ></ion-button>
      </ion-card>
    </form>
    <ion-button slot="end" fill="clear" color="light" [routerLink]="['/login']" routerLinkActive="router-link-active"
      >Zurück zum Login</ion-button
    >
  </div>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-img src="./assets/logos/logo-weiß.svg"></ion-img>
  </ion-toolbar>
</ion-footer>
