.info-box {
  margin-top: 16px;
  background: var(--ion-color-light);
  
  ion-icon {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  ion-badge {
    vertical-align: middle;
  }
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 12px;
}

ion-select,
ion-input {
  width: 100%;
}
